.main{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

p , h1{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 40px 150px;
    box-shadow: 10px 0 10px #33338cce;
}
input{
    border: 2px solid #33338cce;
    font-size: 13px;
    padding: 10px 50px;
    box-shadow: 1px 0px 10px rgba(0, 0, 50, 0.5);
}
input:hover{
    border-color: #0b0b39ce;
}
input:focus{
    outline: none;
    border-color: #6060a7ce; 
    box-shadow: 1px 0px 10px rgba(27, 83, 144, 0.7);
}
.btnClick{
    background-color: #33338cce;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px 0;
    padding: 10px 20px;
}
.btnClick:hover {
    background-color: #28287cce;
}